.material{

    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 3px solid salmon;
    width: 500px;
    margin: auto;
    margin-top: 180px;
    background-color: rgb(255, 180, 152);
    border-radius: 10px;
}
.material input{
    width: 250px;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 100px;
    text-align: center;
    color: black;
    font-weight: 800;
    padding: 5px;
    background-color: rgb(18, 235, 255);
}
.material button{
    width: 100px;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    border: none;
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;


}
form{
    display: flex;
    flex-direction: column;
}