
.container{
   display: grid;
    grid-template-columns: repeat(3 , 10vw);
    width: 60vw;
    margin: 150px;
  
}
.box{
    background-color: aqua;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 5vw;
   
    border: 2px solid blue;
    height: 10vh;
}
.btn{
   
    font-weight: 500;
    background-color: black;
    color: antiquewhite;
    border-radius: 10px;
    font-size: 30px;
    margin-left: 30px;
    width: 150px;
}
