.logo-box {
    background: #fff;
    padding: 30px 120px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
}

.logo {
    width: 30px;
    margin-bottom: 25px;
}

.logo-box h2 {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.logo-box button {
    width: 360px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    border-radius: 30px;
    cursor: pointer;
}


.logo-box button.icon-text {
    font-size: 19px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-weight: normal; /* Remove the boldness */
}


.icon-text {
    font-size: 19px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.logo-box p {
    text-align: left;
}

.accCreate {
    margin-top: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.twitter-logo {
    color: #3e65fe;
    height: 40px;
    width: 40px;
}

.google-icon {
    height: 25px;
    width: 25px;

}

.apple-icon {
    height: 25px;
    width: 25px;

}

.create-account {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal; /* Remove the boldness */
    
}

.account-creation{
    background-color: black;
}

.gotoLink{
    color: #3e65fe;
    text-decoration: none;
}