
.inputToDo{
    width: 22vw;
    height: 5vh;
    border-radius: 15px;
    border: none;
    margin-top: 40px;
    padding: 5px;
    font-weight: 600;
    background-color: rgba(233, 236, 236, 0.627);
}
.btn{
    border-radius: 50%;
    border: none;
    padding: 12px 15px;
    font-weight: 900;
    margin-left: 20px;
    background-color: rgb(136, 228, 102);
}