.inputToDo{
    width: 22vw;
    height: 5vh;
    border-radius: 15px;
    border: none;
    margin-top: 40px;
    padding: 5px;
    font-weight: 600;
    background-color: black;
    color:aliceblue
}
.btn{
    border-radius: 50%;
    border: none;
    padding: 12px 15px;
    font-weight: 900;
    margin-left: 20px;
    background-color: rgb(136, 228, 102);
}
.btnDeleteList{
    background-color: black;
    color:aliceblue
}
.btnAdd{
    background-color: yellow;
}