
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    margin-right: 10px;
    height: 30px;
    border: 0cm;
    border-radius: 15px;
    background-color: rgb(210, 199, 195);

}

.main{
background-color: rgb(175, 107, 107);
}