
*{
  background-color: rgb(30, 32, 32);
  justify-content: center;
  align-items: center;
  color:whitesmoke;
}
.App{
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}
.suggestion{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}