 
 .list{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
    width: 300px;
    height: 20px;
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 20px;

    background-color: rgba(250, 110, 131, 0.847);
 }
.icon{
    color: black;
    font-size:20px;
}