.mainDiv{
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: black;
    color: whitesmoke;
    justify-content: space-between;

}
.items {
    display: flex;
    list-style: none;
    /* margin-left: 48rem; */
    display: flex;
    justify-content: space-between;
    margin-right: 60px;

    
}
.items ul{
    display: flex;
    list-style: none;
    
}
.items ul li{
    margin-left: 2rem;
    list-style: none;
    font-size:20px;
    
}
.menuIcon{
 
    /* border: 3px solid white; */
    width: 40px;
    height: 40px;
    margin-top: 25px;
    
    display: none;
}
.menuIcon div{
    width:  30px;
    height: 5px;
    margin-top: 5px;
    background-color: rgb(229, 233, 236);
}

@media  screen and (max-width: 1024px) {
   body{
    display: flex;
    flex-direction: column;
     justify-content: center;
   overflow-x: hidden; 
   }
   .mainDiv{
    width: 100vw;
   }
   .items{
   
    display: none;
   
   }
  
   


   .menuIcon{
   display: block;
   margin-right: 50px;
   margin-top: 60px;
   /* */
}

   /* .responce{
     .items{
        display: block;
     }
   } */
   .items ul{
    display: flex;
    flex-direction: column;
    background-color: orangered;
    color: black;
    font-weight: 900;
    width: 60vw;
    height: 60vh;
    position: relative;
    z-index: 100;
   /* transform: rotateY('angle'); */
   /* translate:translateY(100vh) ; */
   /* transition: width 2s, height 4s ; */
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
   padding: 10px;
   margin-right: -62px;
   margin-top: -10px;
   /* transition-timing-function: linear; */
  /* transition: 2s; */
  /* transition-property:all;
  transition-duration: 5;
  transition-timing-function: ease-in-out; */

  
    
   }
   .items ul.open {
    width: 60vw;
    height: 50vh;
    /* transform: translateX(0); */
  }
    
  
  
  .items ul li{
    padding: 40px;
   
  }
   
  }