.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .menu {
    display: flex;
    align-items: center;
  }
  
  .menuBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    display: block;
  }
  
  .menuIcon {
    font-size: 20px;
  }
  
  .menuList {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @media (min-width: 768px) {
    .menu {
      display: flex;
    }
  
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
    }
  
    .menuItem {
      margin-right: 20px;
    }
  
    .menuItem a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      line-height: 50px;
      padding: 0 20px;
      display: block;
    }
  
    .menuBtn {
      display: none;
    }
  
    .menuList {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 50px;
    }
  }
  
  .menuListOpen {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #333;
    margin: 0;
    padding: 10px 0;
  }
  
  .menuItem {
    margin: 10px 0;
  }
  
  .menuItem a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }